@font-face {
    font-family: norwester;
    src: url(norwester.otf);
}
body {
    background-color: #2E0101;
}
h1.marc {
    font-family: 'Archivo Black', sans-serif;
    font-size: 80px;
    padding-left: 480px;
    padding-top: 300px;
    color: wheat;
    margin: unset;
}

p.FTP {
    color: wheat;
    padding-left: 482px;
    padding-bottom: 190px;
    font-family: norwester;
    margin: unset;
}

a:hover {
    color: #C63030;
    text-decoration: underline;
}

a {
    font-style: unset;
    text-decoration: none;
    color: wheat;
}